*{
    padding:0px;
    margin:0px;
}
body{
    padding-left:50px;
    padding-right:50px;
    background-color: rgb(245, 196, 228);
}
h1{
    color:rgb(83, 17, 26);
}
header{
    padding-top: 20px;
}
header h1{
    float: left;
}
header li{
    float: right;
    padding-top:10px;
    padding-right:30px;
    display: inline-block;
}
.threadform{
    text-align: center;
    border:solid 1px #000;
    padding:10px;
}

.cb{
    /* floatを解除 */
    clear: left;
  }
